*{
	padding: 0;
	margin: 0;
}
body{
	background: fixed url(img/pattern.jpg) no-repeat;
	background-size: 100% 100%;
}
.combinatoric{
	width: 100%;
	height: 100vh;
	display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(10,1fr);
    grid-auto-rows: minmax(1vh,auto)
}
.combinatoric div{
}
.nav__cont {
  position: fixed;
  width: 3vw;
  top:0;
  height: 100vh;
  z-index: 100;
  
  overflow:hidden;
  transition:width .3s ease;
  cursor:pointer;
  box-shadow:0.3vh 1vh 1.5vh rgba(0,0,0,.4);

}
.nav__cont:hover {
    width:17vw;
  }
.nav {
	list-style-type: none;
	

}
.nav:first-child {
    padding-top:1.5vh;
  }
.nav__items {
  	margin-top: 1vh;
  	font-family: Cuprum;	

}

svg{
    width:5vh;
    height:5vh;
    position: relative;
    left:;
    cursor:pointer;
}
.nav__items a {
	text-align: center;
	padding-top: 5vh;
    position: relative;
    display:block;
    transition:all .3s ease;
    margin-left:3vw;
    background-image: linear-gradient(to right, rgb(255, 239, 213), rgba(255, 239, 213,0.8));
   	height: 6vh;
   	box-shadow: 0 0.3vh 3vh rgba(0,0,0,0.25), 0 1vh 1vh rgba(0,0,0,0.22);
    text-decoration: none;
    color:rgba(0,0,0,0.6);
    font-family: Cuprum;
	font-size:2vw;
}
.nav__items a:after {
    content:'';
    width: 100%;
    height: 100%;
    position:absolute;
    top:0;
    left:0;
    border-radius:0.4vh;
    opacity:0;
    transition:all .5s ease;
    z-index: -10;
}
.nav__items:hover a{
	background-image: linear-gradient(to right, rgb(255, 228, 181), rgba(255, 228, 181,0.925));
    color: #000;
    box-shadow: 0.2vh 0.2vh #000, 0.6vh 0.6vh;
}
.heading{
	grid-column-start: 4;
	grid-column-end: 6;
	text-align: center;
	font-family: 'Myriad Pro Regular';
	font-size: 8vh;
	margin-top: 10%;
}

.body{
	flex-direction: column;
	margin-top: 5%;
	grid-column-start: 2;
	grid-column-end: 8;
	grid-row-start: 2;
	background-color: rgba(255, 239, 213,0.6);
	
	border-radius: 1vw;
}
.bold-font{
	margin-top: 2vh;
	margin-bottom: 2vh;
	text-align:center;
	font-size: 3vw;
}
.font{
	margin-left: 2%;
	text-indent:3vw;
}
p{
	font-family: Jost;
	font-style: normal;
	font-size: 2vw;
}
.switches{ 
	grid-row-start: 5;
	grid-row-end: 10;
	grid-column-start: 8;
	grid-column-end: 9;
	display:flex; 
	flex-direction: column;
	
}
.switches .dot{
	margin-top: 3vh;
	margin-left: 9vw;
}	
.dot{
	display: none;
	width: 2vh;
	height: 2vh;
	border: 0.2vh solid #000;
	border-radius: 50%;
}
